@value mainOrange, mainGreen, highlight1, highlight3, background1, shadow, textInput, textInputPlace, lightWhite, line, iconLightGrey from "../../../common/color.css";
@value marginLeftRight from "../../../common/size.css";

/* ================================= */
/* 헤더, 배경, 푸터 CSS */

.wrap {
  width: 100vw;
  position: absolute;
}

.headerImg {
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
}

.backImg {
  width: 100vw;
  height: 100%;
  position: absolute;
  transform: translateY(-3.0503vw);
  z-index: -2;
}
/* ================================= */

.alarmList {
  position: absolute;
  margin: 0;
  padding-top: 3.0503vw;
  padding-bottom: 3.0503vw;
  padding-left: 0;
}

.megaphoneImg {
  width: 9.375vw;
  height: 9.375vw;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 16.6667vw;
  z-index: 1;
}

.alarmItems {
  margin-left: 19.0278vw;
  margin-right: 16.6667vw;
  position: relative;
}

.alarmItems::marker {
  content: "";
}

.hrFirst,
.hr,
.hr2 {
  position: absolute;
  border-left: 0.1389vw solid iconLightGrey;
  margin-left: 0.9028vw;
  margin-top: 1.875vw;
}

.hrFirst {
  height: 5.9722vw;
}

.hr {
  height: 7.9722vw;
}

.hr2 {
  height: calc(6.4583vw + 0.8056vw);
  transform: translateY(-2.8056vw);
}

.circle,
.circle2 {
  width: 0.7639vw;
  height: 0.7639vw;
  border: 0.1389vw solid highlight3;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  margin-left: 0.5556vw;
  margin-top: 5.2778vw;
}

.circle2 {
  margin-top: 1.8056vw;
}

.containDate {
  margin-top: 2.0833vw;
}

.alarm {
  width: 64.3229vw;
  margin-bottom: 1.8056vw;
}

.dayContiner {
  display: flex;
  justify-content: cetner;
  align-items: center;
  margin-bottom: 1.5972vw;
}

.timeImg {
  width: 1.875vw;
  height: 1.875vw;
  margin-right: 1.0417vw;
}

.day {
  margin: 0;
  font-size: 0.8333vw;
  font-family: "Regular";
  color: highlight1;
}

.contents,
.contents2 {
  height: 4.375vw;
  background-color: lightWhite;
  margin-left: 2.6389vw;
  border-radius: 0.8333vw;
  border: 0.0694vw solid textInput;
  box-shadow: 0 0.0694vw 0.3472vw shadow;
  display: flex;
}

.pic {
  margin: 0.9722vw 0.8333vw 0 1.0417vw;
}

.productImg {
  width: 2.4306vw;
  height: 2.4306vw;
  border: 0.0694vw solid textInput;
  border-radius: 0.3472vw;
  object-fit: cover;
}

.P {
  margin-top: 0.9028vw;
}

.title {
  margin: 0;
  font-size: 0.8333vw;
  font-family: "Medium";
  color: mainOrange;
  margin-bottom: 0.2083vw;
}

.description {
  margin: 0;
  font-size: 0.7639vw;
  font-family: "Regular";
  color: highlight1;
}

.footer {
  margin-top: auto;
}
