@value mainGreen,highlight1,shadow,background1,background2 from "../../../common/color.css";
@value marginLeftRight from "../../../common/size.css";

@font-face {
  font-family: "Bold";
  src: url("../../../common/font/NotoSansKR-Bold.otf");
}

@font-face {
  font-family: "Medium";
  src: url("../../../common/font/NotoSansKR-Medium.otf");
}

@font-face {
  font-family: "Regular";
  src: url("../../../common/font/NotoSansKR-Regular.otf");
}

.backGroundImage {
  background-image: url("../../../../public/images/home/background.png");
  width: 100%;
  /* padding-bottom: 154.114583333333333vw; */
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 212.5vw;
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows:
    calc(100vmax * 19.39% / 100)
    calc(100vmax * 49.71% / 100)
    calc(100vmax * 30.9% / 100);
}

/* part.1 */
.intro {
  display: flex;
  padding-right: 9.739vw;
  padding-left: marginLeftRight;
  justify-parttwo: space-between;
  align-items: flex-start;
  position: relative;
  top: -5.208333333333333vw;
  border: 0.1px solid;
}

.introText {
  padding-bottom: 1.5625vw;
}

.introTextButton {
  position: relative;
  top: 12.5vw; /*헤더 + 여백 */
}

.introMainBigText {
  color: highlight1;
  font-family: "bold";
  font-size: 3.645833333333333vw;
  text-shadow: 0.1875rem 0.1875rem 0.125rem shadow;
}

.introMainSmallText {
  color: highlight1;
  font-family: "Medium";
  font-size: 2.03125vw;
  text-shadow: 0.1875rem 0.1875rem 0.125rem shadow;
  padding-left: 1.354vw;
}

.introMainSmallTextBottom {
  color: highlight1;
  font-family: "Medium";
  font-size: 2.03125vw;
  text-shadow: 0.1875rem 0.1875rem 0.125rem shadow;
  padding-right: 1.354vw;
}

.introSubText {
  display: block;
  color: highlight1;
  font-family: "Regular";
  font-size: 1.041666666666667vw;
}

.buttonStyle {
  font-family: "Bold";
  font-size: 0.9375vw;
  color: white;
  background-color: mainGreen;
  padding-top: 0.9375vw;
  padding-bottom: 0.9375vw;
  padding-left: 2.1875vw;
  padding-right: 2.1875vw;
  border-radius: 32px;
  border-style: none;
  margin-top: 4.6875vw;
}

.introImage {
  width: 41.458vw;
  height: 41.458vw;
  z-index: -1;
}

/* part.2 */
.partTwo {
  border: 0.1px solid;
  position: relative;
  top: -5.208333333333333vw;
  margin-right: marginLeftRight;
  margin-left: marginLeftRight;
}

/* part.2 shopNow */
.shopNow {
  display: flex;
  width: 100%;
  border: 0.1px solid;
  align-items: center;
}

.shopNowImg {
  width: 35.15625vw;
  height: 35.15625vw;
}

.shopNowText {
}

/* part.2 postNow */
.postNow {
  display: flex;
  width: 100%;
  border: 0.1px solid;
  align-items: center;
}

.postNowText {
}

.postNowImg {
  width: 29.6875vw;
  height: 29.6875vw;
}

/* part.2 profileNow */
.profileNow {
  display: flex;
  width: 100%;
  border: 0.1px solid;
  align-items: center;
}

.profileNowImg {
  width: 26.041666666666667vw;
  height: 26.041666666666667vw;
}

.profileNowText {
}

/* part.3 */
.partThree {
  border: 0.1px solid;
  position: relative;
  top: -5.208333333333333vw;
  padding-bottom: 9.427083333333333vw;
  margin-right: marginLeftRight;
  margin-left: marginLeftRight;
}

.partThreeText {
  border: 0.1px solid;
}

.partThreeImg {
  border: 0.1px solid;
  width: 46.09375vw;
  height: 46.09375vw;
}

/*
viewport 높이 : 1121px
1vh = 102.1px
사진 크기 : 4080
height: 399.6vh -> height : 4080px랑 같음
*/
