@value mainGreen from "../../../common/color.css";
@value marginLeftRight from "../../../common/size.css";

.title {
  background-color: black;
  color: mainGreen;
  margin-left: marginLeftRight;
  margin-right: marginLeftRight;
}

.backGroundIamge {
  width: 100%;
}
