@value mainGreen,highlight1,highlight3,shadow,background1,background2 from "../../../common/color.css";
@value marginLeftRight from "../../../common/size.css";

@font-face {
  font-family: "Bold";
  src: url("../../../common/font/NotoSansKR-Bold.otf");
}

@font-face {
  font-family: "Medium";
  src: url("../../../common/font/NotoSansKR-Medium.otf");
}

@font-face {
  font-family: "Regular";
  src: url("../../../common/font/NotoSansKR-Regular.otf");
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: background2;
}

.backGroundImage {
  background-image: url("../../../../public/images/home/background.png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 212.4652vw;
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows:
    calc(100vmax * 16.34% / 100)
    calc(100vmax * 52.74% / 100)
    calc(100vmax * 30.92% / 100);
}

/* part.1 */
.partOne {
  display: flex;
  margin-right: marginLeftRight;
  margin-left: marginLeftRight;
  justify-content: space-between;
}

.partOneText {
  margin-bottom: 1.8055vw;
  margin-right: 4.8611vw;
}

.partOneTextButton {
  padding-top: 7.5vw;
}

.partOneMainBigText {
  color: highlight1;
  font-family: "bold";
  font-size: 3.6111vw;
  text-shadow: 0.1562vw 0.1562vw 0.1041vw shadow;
}

.partOneMainSmallText {
  color: highlight1;
  font-family: "Medium";
  font-size: 1.9444vw;
  text-shadow: 0.1562vw 0.1562vw 0.1041vw shadow;
  padding-left: 1.3888vw;
}

.partOneMainSmallTextBottom {
  color: highlight1;
  font-family: "Medium";
  font-size: 1.9444vw;
  text-shadow: 0.1562vw 0.1562vw 0.1041vw shadow;
  padding-right: 1.3888vw;
}

.partOneSubText {
  display: block;
  color: highlight3;
  font-family: "Regular";
  font-size: 0.9722vw;
}

.buttonStyle {
  font-family: "Bold";
  font-size: 0.90277vw;
  color: white;
  background-color: mainGreen;
  width: 9.3055vw;
  height: 3.2638vw;
  border-radius: 32px;
  border-style: none;
  margin-top: 5.1388vw;
}

.partOneImage {
  width: 31.3888vw;
  height: 31.3888vw;
  padding-top: 1.25vw;
}

/* part.2 */
.partTwo {
  border: 0.1px solid;
  position: relative;
  /* top: -5.208333333333333vw; */
  margin-right: marginLeftRight;
  margin-left: marginLeftRight;
  margin-bottom: 19.7916vw;
}

/* part.2 shopNow */
.shopNow {
  display: flex;
  width: 100%;
  border: 0.1px solid;
  align-items: center;
}

.shopNowImg {
  width: 35.1388vw;
  height: 35.1388vw;
  margin-right: 2.2vw;
}

.shopNowMainText {
  font-family: "Medium";
  color: highlight1;
  display: block;
  font-size: 1.875vw;
  padding-bottom: 1.7361vw;
}

.shopNowSubText {
  font-family: "Medium";
  color: highlight3;
  display: block;
  font-size: 0.7638vw;
}

.shopNowbutton {
  font-family: "Bold";
  color: mainGreen;
  font-size: 0.7638vw;
}

/* part.2 postNow */
.postNow {
  display: flex;
  width: 100%;
  border: 0.1px solid;
  align-items: center;
  justify-content: flex-end;
}

.postNowText {
}

.postNowImg {
  width: 29.7222vw;
  height: 29.7222vw;
  margin-left: 9.8611vw;
}

/* part.2 profileNow */
.profileNow {
  display: flex;
  width: 100%;
  border: 0.1px solid;
  align-items: center;
}

.profileNowImg {
  margin-right: 6.7361vw;
  width: 27.6388vw;
  height: 27.6388vw;
}

.profileNowText {
}

/* part.3 */
.partThree {
  border: 0.1px solid;
  /* position: relative; */
  /* top: -5.208333333333333vw; */
  padding-bottom: 9.427vw;
  margin-right: marginLeftRight;
  margin-left: marginLeftRight;
}

.partThreeText {
  border: 0.1px solid;
}

.partThreeImg {
  border: 0.1px solid;
  width: 46.0937vw;
  height: 46.0937vw;
}

.partThreemainTitle {
  font-size: 36px;
}

/* 그 이상 */
@media (min-width: 1920px) {
  .backGroundImage {
    background-repeat: no-repeat;
    background-size: 100vw 4080px;
  }

  .container {
    height: 4080px;
    width: 100vw;
    display: grid;
    grid-template-rows:
      calc(100vmax * 19.5% / 100)
      calc(100vmax * 49.6% / 100)
      calc(100vmax * 30.9% / 100);
    justify-content: center;
  }
  /* part.1 */
  .partOne {
    margin-right: 0px;
    margin-left: 0px;
    justify-content: center;
  }

  .partOneText {
    margin-bottom: 30px;
    margin-right: 90px;
  }

  .partOneTextButton {
    padding-top: 144px;
  }

  .partOneMainBigText {
    font-size: 72px;
    text-shadow: 3px 3px 2px shadow;
  }

  .partOneMainSmallText {
    font-size: 39px;
    text-shadow: 3px 3px 2px shadow;
    padding-left: 26px;
  }

  .partOneMainSmallTextBottom {
    font-size: 39px;
    text-shadow: 3px 3px 2px shadow;
    padding-right: 26px;
  }

  .partOneSubText {
    font-size: 20px;
  }

  .buttonStyle {
    font-size: 18px;
    width: 179px;
    height: 63px;
    border-radius: 100px;
    margin-top: 90px;
  }

  .partOneImage {
    width: 590px;
    height: 590px;
  }
}
