@value background2 from "./common/color.css";

@font-face {
  font-family: "Bold";
  src: url("./common/font/NotoSansKR-Bold.otf");
}

@font-face {
  font-family: "Regular";
  src: url("./common/font/NotoSansKR-Regular.otf");
}

@font-face {
  font-family: "Medium";
  src: url("./common/font/NotoSansKR-Medium.otf");
}

@font-face {
  font-family: "Black";
  src: url("./common/font/NotoSansKR-Black.otf");
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100%;
  background-color: background2;
}
