@value background1, background2, highlight1, line, unselect from "../../../common/color.css";

/* ================================= */
/* 헤더, 배경, 푸터 CSS */

.background {
  width: 100vw;
  background-color: background1;
  position: relative;
  min-height: 80vw;
}

.headerImg {
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}

/* Footer */

.footerImg {
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
}

.footerImg2 {
  width: 23.125vw;
  height: 23.125vw;
  margin: 0 0 -40px 17.6389vw;
  position: absolute;
  bottom: 0;
}

/* ================================= */

.title {
  position: absolute;
  margin-top: 2.2222vw;
  margin-left: 17.7778vw;
  font-size: 1.5278vw;
  font-family: "Medium";
  color: highlight1;
}

.orderDiv {
  position: absolute;
  right: 0;
  margin-top: 2.5vw;
  margin-right: 16.6667vw;
  font-size: 0.8333vw;
  color: highlight1;
  font-family: "Regular";

  display: flex;
  justify-content: center;
  align-items: center;
}

.orderIcon {
  width: 1vw;
  height: 1vw;
  margin: 0 0.3167vw 0 0;
}

.hr {
  width: 10.4167vw;
  position: absolute;
  border-top: 1px solid line;
  margin: 5.7639vw 0 0 17.7778vw;
}

.subTitle {
  position: absolute;
  margin: 7.0139vw 0 0 17.7778vw;
  font-family: "Medium";
  font-size: 0.9028vw;
  color: highlight1;
}

/* ================================= */

.container {
  width: 100vw;
  position: relative;
}

.productGroup {
  width: 54.1667vw;
  height: 50.8333vw;
  position: absolute;
  margin-top: 4.3056vw;
  margin-left: 29.1667vw;
  display: grid;
  grid-template-columns: 13.9583vw 13.9583vw 13.9583vw 12.2917vw;
  grid-template-rows: 17.8472vw 17.8472vw 15.2083vw;
}

.info {
  width: 11.25vw;
  margin: 0.625vw 0 0 0.5556vw;
  font-size: 0.6944vw;
  font-family: "Regular";
  line-height: 1.0417vw;
}

.info2 {
  display: flex;
  position: relative;
  align-items: center;
  margin-top: 0.2083vw;
}

.productImg {
  width: 12.2917vw;
  height: 12.2917vw;
  border-radius: 1.6667vw;
  object-fit: cover;
}

.productTitle {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.productPrice {
  font-size: 0.6944vw;
  font-family: "Regular";
  margin: 0;
  color: unselect;
}

.wishIcon {
  width: 0.8333vw;
  height: 0.8333vw;
  position: absolute;
  right: 0;
}

/* ================================= */
/* 그 이상 */
@media (min-width: 1920px) {
  .footerImg2 {
    width: 444px;
    height: 444px;
    margin: 0 0 -40px 321px;
  }
}
