@value background1, background2, highlight1, line from "../../../common/color.css";

/* ================================= */
/* 헤더, 배경, 푸터 CSS */

.wrapHeader {
  padding-top: 75px;
  background-color: black;
}

.background {
  width: 100vw;
  background-color: background1;
  position: relative;
}

.headerImg {
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}

/* Footer */

.imgGroup {
}
.footerImg {
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
}

.footerImg2 {
  width: 23.125vw;
  height: 23.125vw;
  position: static;
  bottom: 0;
}

.wrapfooter {
  position: static;
  bottom: 0;
}

/* ================================= */

.container {
  position: relative;
  min-height: 55vw; /* 수정 필요*/
}

.title {
  position: absolute;
  margin-top: 2.2222vw;
  margin-left: 17.7778vw;
  font-size: 1.5278vw;
  font-family: "Medium";
  color: highlight1;
}

.order {
  position: absolute;
  right: 0;
  margin-top: 2.5vw;
  margin-right: 16.6667vw;
  font-size: 0.8333vw;
  color: highlight1;
  font-family: "Regular";
}

.hr {
  position: absolute;
  margin-top: 6.9444vw;
  margin-left: 17.7778vw;
  width: 10.4167vw;
  color: line;
}

.subTitle {
  position: absolute;
  margin-top: 8.3333vw;
  margin-left: 17.7778vw;
  font-family: "Medium";
  font-size: 0.8333vw;
  color: highlight1;
}

.productGroup {
  width: 100vw;
  position: relative;
}
.product {
  width: 54.1667vw;
  height: 50.8333vw;
  position: absolute;
  margin-top: 6.9444vw;
  margin-left: 29.1667vw;
  display: grid;
  grid-template-columns: 13.9583vw 13.9583vw 13.9583vw 12.2917vw;
  grid-template-rows: 17.8472vw 17.8472vw 15.2083vw;
}

.info2 {
  display: flex;
  position: relative;
  align-items: center;
}

.productHeart {
  width: 1vw;
  height: 1vw;
  position: absolute;
  right: 0;
  margin-right: 1.6667vw;
}
.productImg {
  width: 12.2917vw;
  height: 12.2917vw;
}

.productTitle {
  margin: 0.625vw 0 0.2083vw 0;
  font-size: 0.6944vw;
  font-family: "Regular";
}

.productPrice {
  font-size: 0.6944vw;
  font-family: "Regular";
  margin: 0;
}
