@value mainGreen,highlight1,background1,textInput,textInputPlace,lightWhite from "../../../../common/color.css";
@value marginLeftRight from "../../../../common/size.css";

.displayNone {
  display: none;
}

.container {
  box-shadow: 0 0 0 1px black inset;
  margin: 2.0833vw 0.7291vw 5.243vw 2.1875vw;
  min-height: 13.125vw;
}

.noPost {
  display: flex;
  height: 13.125vw;
  justify-content: center;
  align-items: center;
  font-family: "Regular";
  font-size: 0.6944vw;
  color: highlight1;
}
