/* @value mainGreen from "../../../common/size.css"; */
@value highlight1,mainGreen from '../../../common/color.css';

@font-face {
  font-family: "Medium";
  src: url("../../../common/font/NotoSansKR-Medium.otf");
}

.container {
  display: flex;
  justify-content: space-between;
}

.pageStyle {
  padding-left: 0.52vw;
  padding-right: 2.083vw;
  list-style-type: none;
}

.active:hover {
  font-size: 16px;
  color: mainGreen;
  font-family: "Medium";
}

.active {
  font-size: 16px;
  color: highlight1;
  font-family: "Medium";
  text-decoration: none;
}
