/* @value mainGreen from "../../../common/size.css"; */
@value highlight1,mainGreen from '../../../common/color.css';

@font-face {
  font-family: "Medium";
  src: url("../../../common/font/NotoSansKR-Medium.otf");
}

.page {
  display: flex;
  justify-content: space-between;
}

.pageStyle {
  padding-left: 0.52vw;
  padding-right: 2.083vw;
  list-style-type: none;
}

.active {
  font-size: 0.9375vw;
  color: mainGreen;
  font-family: "Medium";
  text-decoration: none;
}

.inactive:hover {
  font-size: 0.9375vw;
  color: mainGreen;
  font-family: "Medium";
}

.inactive {
  /* font-size: 0.9375vw; */
  font-size: clamp(0.3125vw, 0.9375vw, 60vw);
  color: highlight1;
  font-family: "Medium";
  text-decoration: none;
  -webkit-text-size-adjust: none; /* 크롬, 사파리, 오페라(신) */
  -ms-text-size-adjust: none; /* IE */
  -moz-text-size-adjust: none; /* 파이어폭스 */
  -o-text-size-adjust: none; /* 오페라(구)*/
}
