@value marginLeftRight from "../../../common/size.css";
@value highlight1, highlight2, highlight3, mainGreen, shadow from "../../../common/color.css";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.background {
  background-image: url("../../../../public/images/about/background.png");
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;

  position: relative;
}

/* ------------------------ */
/* 헤더 추가시 삭제 */
.wrapHeader {
  padding-top: 5.2083vw;
}
/* ------------------------ */

.continer {
  width: 100vw;
  display: grid;
  grid-template-rows:
    calc(100vmax * 25.53% / 100)
    calc(100vmax * 29.53% / 100)
    calc(100vmax * 31.41% / 100);
  /* grid-template-rows: 25.53% 29.53% 31.41%; */

  padding-bottom: 17.552vw;
}

/* 맨 위 타이틀 */

.title {
  width: 100vw;
  height: 2.604vw;
  /* height: 1.3801vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8d8a9;
  /* height: 3.125em; */
}

.content {
  font-family: "bold";

  /* 수정필요 */
  font-size: 1.0417vw;
  /* font-size: 1.25em; */
}

/* Topic 1 */

.topic1 {
  /* height: 925px; */
  /* height: 25.5313vh; */
  /* height: 48.1771vw; */
  /* height: 25.53%; */
  /* height: calc(925px / 100vmax * 100); */
  display: flex;
  margin: 0 marginLeftRight 0 marginLeftRight;
}

.topic1_span {
  width: 22.6vw;
  margin-top: 5.46875vw;
  /* margin-top: 2.8982vh; */
}

.topic1_Title {
  font-family: "black";
  color: highlight1;
  margin-bottom: 0.91vw;

  /* 수정필요 */
  font-size: 4.1667vw;
  text-shadow: 0.1563vw 0.1563vw 0.1042vw shadow;
  line-height: 5.2083vw;
  /* margin-bottom: 0.9108vh; */
  /* text-shadow: 0.1875rem 0.1875rem 0.125rem black; */
  /* line-height: 6.25rem; */
  /* font-size: 5rem; */
}

.topic1_Content {
  font-family: "medium";
  color: highlight3;
  margin: 0 0 0.579vw 0;

  /* 수정필요 */
  font-size: 1.1458vw;
  /* font-size: 1.375rem; */
}

.topic1_Content2 {
  font-family: "medium";
  color: highlight3;
  margin: 0 0 2.318vw 0;

  /* 수정필요 */
  font-size: 1.1458vw;
}

.topic1_Btn {
  width: 9.21875vw;
  height: 3.28125vw;
  background-color: mainGreen;
  font-family: "bold";
  color: white;
  border: 0;
  outline: 0;
  cursor: pointer;

  /* 수정필요 */
  font-size: 0.9375vw;
  border-radius: 1.6667vw;
  /* font-size: 1.125rem; */
  /* border-radius: 2rem; */
}

.shoppingPNG {
  width: 28.85vw;
  height: 28.85vw;
  margin: 2.6041vw 15.8854vw 0 15.9375vw;
}

/* Topic 2 */

.topic2 {
  /* height: calc(1070px / 100vmax * 100); */
  /* height: 29.53%; */
  /* height: 55.7292vw; */
  /* height: 29.5335vh; */
  display: flex;
  margin-left: marginLeftRight;
  margin-right: marginLeftRight;
  /* height: 1070px; */
}

.topic2_span {
  margin-top: 10.416vw;
  margin-left: 7.7083vw;
}

.topic2_Title {
  font-family: "black";
  color: highlight1;
  margin-bottom: 2.6041vw;

  /* 수정필요 */
  font-size: 4.1667vw;
  /* font-size: 5rem; */
}

.content_Group {
  margin-top: 2.65625vw;
}

.topic2_Content {
  width: 26.5625vw;
  font-family: "regular";
  color: highlight3;
  margin: 0;

  /* 수정필요 */
  font-size: 1.0417vw;
  /* font-size: 1.25rem; */
}

.earthPNG {
  width: 28.85vw;
  height: 28.85vw;
  margin: 13.541vw 0 8.75vw 0;
}

/* Topic 3 */

.topic3_Title {
  margin-left: marginLeftRight;
  font-family: "black";
  color: highlight1;

  /* 수정필요 */
  font-size: 4.1667vw;
  /* font-size: 5rem; */
}

.memberGroup {
  display: flex;
  flex-direction: row;
  margin: 5.5729vw marginLeftRight 0 marginLeftRight;
}

.member {
  margin-right: 10.5vw;
  text-align: center;
  justify-content: center;
}

.memberImg {
  width: 14.58vw;
  height: 14.58vw;
}

.memberName {
  font-family: "bold";
  color: highlight2;
  margin: 3.2291vw 0 0.7291vw 0;

  /* 수정필요 */
  font-size: 1.3021vw;
  /* margin: 3.875rem 0 0.875rem 0; */
  /* font-size: 1.5625rem; */
}

.memberRole {
  font-family: "medium";
  color: highlight3;
  margin: 0 0 1.25vw 0;

  /* 수정필요 */
  font-size: 1.1979vw;
  /* margin: 0 0 1.5rem 0; */
  /* font-size: 1.4375rem; */
}

.githubIcon,
.instaIcon {
  width: 1.875vw;
  height: 1.875vw;
  margin-right: 0.7292vw;
  margin-bottom: 21.875vw;
  color: highlight3;
  /* margin-right: 0.875rem; */
}

/* Footer */

.wrapfooter {
  width: 100vw;
  height: 17.552vw;
  position: absolute;
  bottom: 0;
}

@font-face {
  font-family: "bold";
  src: url("../../../common/font/NotoSansKR-Bold.otf");
}

@font-face {
  font-family: "black";
  src: url("../../../common/font/NotoSansKR-Black.otf");
}

@font-face {
  font-family: "medium";
  src: url("../../../common/font/NotoSansKR-Medium.otf");
}

@font-face {
  font-family: "regular";
  src: url("../../../common/font/NotoSansKR-Regular.otf");
}
