@value mainGreen,highlight1,background1,textInput,textInputPlace,lightWhite from "../../../../common/color.css";
@value marginLeftRight from "../../../../common/size.css";

.backGroundIamge {
  background-image: url("../../../../../public/images/headerBackground.png");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 12.34375vw;
}

.container {
  background-color: background1;
}
