@value highlight1 from '../../../common/color.css';

.icon {
  width: 23px;
  height: 23px;
  /* width: 1.458333333333333vw;
  height: 1.458333333333333vw; */
  color: highlight1;
  padding-left: 1.527777777777778vw;
}

.userInfo {
  display: flex;
  padding-left: 0;
}
.liStyle {
  list-style-type: none;
}
