@value marginLeftRight from "../../common/size.css";
@value background2,line from '../../common/color.css';

.header {
  background-color: background2;
  border-bottom: 1px solid;
  border-color: line;
  display: flex;
  justify-content: space-between;
  height: 5.208333333333333vw;
  width: 100%;
  align-items: center;
  position: relative;
  z-index: 1;
}

.logoStyle {
  margin-left: marginLeftRight;
  width: 100px;
  height: 30px;
}
.headerComponent {
  margin-right: marginLeftRight;
  display: flex;
  align-items: center;
}
