@value marginLeftRight from "../../common/size.css";
@value background2,line from '../../common/color.css';

.header {
  background-color: background2;
  border-bottom: 1px solid;
  border-color: line;
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-left: marginLeftRight;
}

.rightComponent {
  margin-right: marginLeftRight;
}
